.sidebar {
    width: 3%;
    height: 999px;
    position: fixed;
    background-color: #2C4047;
}

.sidebar button {
    background-color: transparent;
    color: white;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 30px;
}