.checkout-form{
    padding: 20px;
    text-align: center;
}

.checkout-form button {
    margin: 10px;
    background-color: #03C385;
    padding: 10px;
    border-radius: 50px;
    outline: none;
    border: none;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

input {
    width: 222px;
}